{% extends "base.html" %}


	{% block content %}
		<section class="js-section_title header_slider theme-white">
							
			<div  class="header_slider--header">
				<div class="media" >
					<img fetchpriority="high" width="1488" height="900" src="./img/FA_flag.svg" class="image_default no-lazy" alt="illustration_radio" decoding="async" />
				</div>
				<div class="right">
					<div class="title">Nos Activités</div>
					<div class="subtitle"></div>
					<div class="description">La liste des Activités locaux de Lyon</div>
														<div class="description">
						

						</div>
						<svg class="svgwave" xmlns="http://www.w3.org/2000/svg" width="301" height="21" viewBox="0 0 301 21">
								<path id="wavepath" d="M0,.5c30.0978,0,30.0978,20,60.1956,20S90.2948.5,120.394.5s30.1,20,60.2,20c30.1015,0,30.1015-20,60.203-20s30.1014,20,60.2029,20"></path>

								<text text-anchor="middle">
								<textPath class="my-text" href="#wavepath" startOffset="50%">
								<animate attributeName="startOffset" from="-50%" to="150%" begin="0s" dur="3s" repeatCount="indefinite"></animate>
									Boulangerie autogérée, syndicalisme, magazine, concerts ...
								</textPath>
								</text>

						</svg>
						<!-- Slider des podcasts -->
					<div class="container-fullslider">
						<div class="swiper-container swiper_fiveposts">
							<div class="swiper-wrapper">
								
								<!-- Podcast 1 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width: 200px;">
										<a href="{{data.oma.args.website_prefix}}/articles/Boulangerie_ile.html">
											<img 
												src="{{data.oma.args.website_prefix}}/img/Pain_logo.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" />
											<noscript>
												<img 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">La Boulangerie !</a></h2>
											<p>Liens vers le contact de l'activité</p>
										</div>
									</div>
								</div>

								<!-- Podcast 2 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width: 200px;">
										<a href="https://purpleblack.org/Home">
											<img 
												src="{{data.oma.args.website_prefix}}/img/Banderoles_BDF_novembre2.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" 
												data-lazy-src="" />
											<noscript>
												<img 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">La Bouche de Fer</a></h2>
											<p>Lien vers le site d'hébergement de la Revue</p>
										</div>
									</div>
								</div>

								<!-- Podcast 1 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width: 200px;">
										<a href="{{data.oma.args.website_prefix}}/index.html#qui">
											<img
												src="{{data.oma.args.website_prefix}}/img/juste_anarchistes1936.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" />
											<noscript>
												<img
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">Le Jeu de société ARAGO</a></h2>
											<p>La FA à Lyon travaille un jeu de société sur 1936... Sortie prévue courant 2026 !</p>
										</div>
									</div>
								</div>
								<!-- Podcast 1 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width: 200px;">
										<a href="https://cnt-ait.fr/">
											<img 
												src="{{data.oma.args.website_prefix}}/img/rougeetnoir.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" />
											<noscript>
												<img
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">Syndicalisme CNT AIT et SO</a></h2>
											<p>La FA à Lyon est investit auprès des camarades des Syndicats CNT SO et CNT AIT</p>
										</div>
									</div>
								</div>

							</div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>

						</div>
					</div>
					
					<!--
										<div class="title">Portée actuelle géographique des activités de la liaison</div>
					<section  class="js-section_title header_slider theme-black" style ="width: 50;">
						<div id="réseau" style ="display: flex !important; position: relative; text-align: center; align-content: center; justify-content: center;">
							
							{% include "carte.html" %}
							
					</div>
					

					</section>-->


		</div>
		</div>
		</section>
	{% endblock content %}

