{% extends "base.html" %}


	{% block content %}
		<section class="js-section_title header_slider theme-white">
							
			<div  class="header_slider--header" style="width: 75% !important;">
				<div class="media" >
					<img fetchpriority="high" width="1488" height="900" src="./img/Lionnes_Final_3D_render_3.png" class="image_default no-lazy" alt="illustration_radio" decoding="async" />
				</div>
				<div class="right">
					<div class="title">Nos Activités</div>
					<div class="subtitle"></div>
					<div class="description">La liste des Activités locaux de Lyon</div>
														<div class="description">
						* Ajouter listes Activités * 

						</div>
														<div class="description">

						</div>

	</div>
	</div>
	{% endblock content %}

