{% import "macros.html" as m %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{% block title %}{% endblock title %}{{ data.config.PrettyName }}</title>
		<meta charset="utf8" />
		<link rel="stylesheet" href="{{data.oma.args.website_prefix}}/style.css" />
	</head>
	<body id="mainbody">
		<nav id="mainmenu">
			<ul>
				<li><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/index.html#top"><img src="{{data.oma.args.website_prefix}}/img/home.svg" />{{ data.config.PrettyName }}</a></li>
				{% if data.series %}
					<li><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/serie/index.html">Émissions</a></li>
				{% endif %}
				{% if data.prog.is_empty == false %}
					<li><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/programme.html">Programme</a></li>
				{% endif %}
				<li><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/index.html#qui">Qui&nbsp;?</a></li>
				<li><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/index.html#contact">Contact</a></li>
				{% for page_name, page in data.pages %}
					{% if page.Titre %}
						<li><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/page/{{page_name}}.html">{{ page.Titre }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>

		<main id="maincontent">
			{% block content %}
			{% endblock content %}
		</main>
		
		<div id="app"></div>

		<footer>
		    <ul>
			  <li>Site généré par <a href="https://oma-radio.fr">Oma-Radio</a> pour {{data.config.PrettyName}} avec des outils libres</li>
			  <li>Chaque son, texte, image ou autre contenu a sa propre licence</li>
			  {% if data.oma.args.manager_url %}
			  	<li><a target="blank" href="{{data.oma.args.manager_url}}">Gestion de la radio</a></li>
			  {% endif %}
		    </ul>
		</footer>
		<script>
		  window.OMA_DATA = null;
		  window.OMA_CONFIG = {
			radioHost: '{{data.oma.args.radio_host}}',
			cleanName: "{{data.config.PrettyName}}",
		    ssl: window.location.protocol == 'https:',
		    wsPort: '{{data.oma.args.websocket_port}}',
		  }
			OMA_PROGRAM_DEFAULT_TAB = [
				{% if not data.prog.is_empty %}
					{% for var in data.prog.patterns.0.vars %}
						{% if loop.last == false %}
							"{{data.prog.variables[var][0]}}",
						{% endif %}
					{% endfor %}
				{% endif %}
			];
		</script>

		<script src="{{data.oma.args.website_prefix}}/script/main.js"></script>
		<script src="{{data.oma.args.player_url}}/chunk-vendors.js"></script><script src="{{data.oma.args.player_url}}/app.js"></script><link href="{{data.oma.args.player_url}}/app.css" rel="stylesheet">
	</body>
</html>
