<body class="home wp-singular page-template page-template-template-home template-home page page-id-237 wp-theme-lnei-wp-themeresources wp-child-theme-lnei-wp-theme-child-novaresources has-infinite-scroll app-data index-data singular-data page-data page-237-data page-accueil-data template-home-data front-page-data" data-barba="wrapper" data-usr=0>

	<body id="body">
			<div  class="wrap" role="document" data-barba="container">
				<div  class="content">
					<main class="main">
					 <div class="media-cards">
<div class="swiper-container podcasts_header swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
        <!-- Additional required wrapper -->
		 
				        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1829.78px, 0px, 0px);">
				                 <div class="js-radio-card swiper-slide cards_header ">
				                                    
								
				
								
										<div class="cards_content" style="    text-align: center;    color: white;    font: message-box; font-size: 1vw;">
													<a onclick="article/Critique_du_parti.html">	
														<div style ="bottom: auto;">	
															Critique du Parti
														</div>
														<div class="cards_content__infos" style="background-image: url(img/Brochure_1.png); top: auto !important;">
					
														<div class="js-track_infos"></div>
			
					                                    </div>
													</a>
				            			</div>
				            	</div>
			
								<div class="js-radio-card swiper-slide cards_header ">
                                    <div class="cards_content" style="    text-align: center;    color: white;    font: message-box; font-size: 1vw;">
										<a onclick="article/Livret_intention.html">		
											Livret d'intention de la liaison commune de lyon 
                                			<div class="cards_content__infos" style="background-image: url(img/Brochure_3.jpg)">

                    						<div class="js-track_infos"></div>

                    
                                    		</div>
										</a>
            						</div>
            					</div>
			
			 <div class="js-radio-card swiper-slide cards_header ">
				<div class="cards_content" style="    text-align: center;    color: white;    font: message-box; font-size: 1vw;">
					<a onclick="article/Livret_intention.html">		
						Proposition pour une confédération locale à Villeurbanne
						<div class="cards_content__infos" style="background-image: url(img/Brochure_2.png)">

							<div class="js-track_infos"></div>
						 </div>
					</a>
				</div>
            </div>
                                                    
                <svg width="0" height="0">
				<defs>
					<clipPath id="mediaCardClipPath" clipPathUnits="objectBoundingBox">
						<path id="curve" transform="scale(0.00285, 0.00254)"
							d="M -20 442 L 0 50 A 8 2 0 0 1 356 50 L 356 442 Z">
						</path>
					</clipPath>
				</defs>
			</svg>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>


					</div>
						
					</main>
				</div>
			</div>
	</div>


</div>




