{% extends "base.html" %}

<html lang="fr">
	<head>
		<title>
	Communiqués</title>
		<meta charset="utf8" />
		<link rel="stylesheet" href="./style.css" />
	</head>
	{% block content %}
	<body id="mainbody">


		<main id="maincontent">
			
	<article>
		<h2>Specification</h2>
		<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title></title></head><body><h2>Spécification de radioDemo</h2>
<h2>Sommaire</h2>
<p>0- Historique du document et points ouverts</p>
<p>I- Introduction</p>
<p>II- Principe de radioDemo</p>
<p>III- Lancer radioDemo en local sur un PC</p>
<p>IV- Installer le minimum sur un serveur</p>
<p>V- Que doit fournir une radio pour démarrer?</p>
<p>VI- Comment on ajoute du contenu ?</p>
<p>VII- Que contient le minimum ?</p>
<p>VIII- Comment personnaliser la démo ?</p>
<ul>
<li>Changer un jingle ?</li>
<li>Dire bonne matinée, bon après midi ?</li>
<li>Passer du classique le matin ?</li>
<li>Mettre à jour une playlist ?</li>
<li>Ajouter des top horaires ?</li>
<li>Ajouter des photos ?</li>
<li>Ajouter des textes ?</li>
<li>Ajouter des podcasts ?</li>
<li>Diffuser le dernier podcast ?</li>
<li>Ajouter des photos / des textes statiques ?</li>
<li>Changer la grille de programme ?</li>
</ul>
<p>IX- afficher des informations dynamiques</p>
<ul>
<li>afficher un message court</li>
<li>afficher un texte</li>
<li>afficher une photo</li>
</ul>
<p>X- Utiliser les bonus</p>
<p>XI- fabriquer / adapter un bonus</p>
<p>Annexe 1 - descriptions des bonus</p>
<p>Annexe 2 - Lancer icecast en local sur le PC</p>
<h3>0- Historique du document et points ouverts</h3>
<ul>
<li>le 26 septembre 2020 : création
<ul>
<li>le contenu de ce document n’est que partiellement implémenté</li>
</ul>
<ul>
<li>c’est plus un objectif qu’une description de la réalité</li>
<li>cohérence des noms a revoir ?</li>
<li>les bonus sont-t-il les plus pertinents ?</li>
</ul>
</li>
<li>le 18 octobre 2020 :
<ul>
<li>prise en compte retour Nico sur explication prog</li>
<li>Mise à jour de Bonus 1 après son implémentation</li>
</ul>
</li>
<li>le 21 octobre 2020
<ul>
<li>mise en forme et création bonus 1,2,3,4</li>
<li>mise en place de 2 modes ( jour et heure )</li>
</ul>
</li>
<li>le 29 novembre 2020
<ul>
<li>création du répertoire secours</li>
</ul>
</li>
<li>le 28 janvier 2021
<ul>
<li>création du répertoire mp3</li>
<li>création du répertoire pigeMp3</li>
</ul>
</li>
<li>le 31 décembre 2021
<ul>
<li>création du bonus 7</li>
</ul>
</li>
<li>le 14 mars 2022
<ul>
<li>création du bonus 8</li>
</ul>
</li>
<li>le ? décembre 2022
<ul>
<li>création bonus 9</li>
</ul>
</li>
<li>le 26 juillet 2023
<ul>
<li>changement de la gestion des podcasts</li>
</ul>
<ul>
<li>ajout description bonus 11 (statiques avec listes)</li>
<li>ajout de bonusOu et bonusOut</li>
</ul>
</li>
</ul>
<h3>I- Introduction</h3>
<p>Les objectifs de ce document sont de préciser le contenu de radioDemo :</p>
<ul>
<li>Comment s’imbriquent les pièces du puzzle</li>
<li>Que peut-t-on faire avec radioDémo.</li>
</ul>
<p>Les objectifs de radioDemo sont les suivants :</p>
<ul>
<li>Une démonstration fonctionnelle aussi bien sur un PC local que sur un serveur.</li>
<li>Fournir une configuration minimale prête à l’emploi aux nouvelles radios.</li>
<li>Montrer des “bonnes pratiques” et servir de base de départ pour développer une radio.</li>
<li>Permettre de s’initier au système omaRadio de façon ludique.</li>
<li>Disposer d’exemples (bonus).</li>
<li>Être facilement re initialisable en cas de fausse manip.</li>
</ul>
<h3>II-Principe de radioDemo</h3>
<p>RadioDemo se compose :</p>
<ul>
<li>d’un répertoire qui contient le minimum pour qu’une radio fonctionne.</li>
<li>de répertoires qui contiennent des bonus</li>
</ul>
<p>Ces répertoires sont destinés a être importé  dans la radio via le service omaBaseImport.</p>
<p>Dans certains cas, l’ordre d’importation a de l’importance. Par exemple, on importe d’abord un fichier puis si on le souhaite, un lien dessus. Pour gérer cela, les noms de fichiers sont suivis d’un numéro d’ordre.</p>
<p>Par exemple JingleDemo-Pa.wavIn0 doit être importé avant Jingle-Defaut.lienIn1.</p>
<p>Il faut donc importer tous les fichiers *.0 puis *.1 etc….</p>
<p>radioDemo est archivée dans le git du projet. En effet, le contenu minimum d’une radio est très lié avec les fonctionnalités des programmes et donc aux versions de ceux ci. Certains bonus sont stockés également dans le git du projet mais ce n’est pas obligatoire.</p>
<p>ATTENTION : Il est important que le contenu “multi-media” correspondant à la radio minimum soit libre de droit. Chaque radio pourra ainsi choisir de rester libre de droits ou de payer les droits des musiques qu”elle ajoute.</p>
<h3>III- Lancer radioDemo en local sur un PC</h3>
<p>Le répertoire radioDemo du git, contient les sous-répertoires suivants :</p>
<ul>
<li>cfg_docker : qui contient les configurations des services à utiliser sur les serveurs</li>
<li>cfg_local : qui contient les configurations des services à utiliser en local sur le PC</li>
<li>importSav   : qui contient le minimum à importer pour créer une radio</li>
<li>importBonusX : qui contiennent des compléments optionnels (chronique multi média, voictrack, top horaire…)</li>
<li>secours ; qui contient les musiques de secours de omaJukebox, omaMux,omaPlayer</li>
<li>les autres répertoires sont vides dans l’archive. Ils vont se remplir lorsque la radio sera installée et fonctionnera.</li>
</ul>
<p>Il faut que les logiciels omaRadio et les bibliothèques nécessaires soient installées sur le PC. Si ce n’est pas le cas, le système va vous demander de faire le nécessaire.</p>
<p>Aller dans le répertoire cfg_local
lancer ./startDemo1.cmd</p>
<p>startDemo1.cmd est un script qui va vous proposer:</p>
<ul>
<li>D’effacer les vieux exécutables omaRadio ( pratique en cas de mise à jour depuis le GIT du projet)</li>
<li>De refabriquer les exécutables omaRadio ( on ne le fait pas à chaque fois. C’est un peu long)</li>
<li>De choisir si vous souhaitez une démo “jour” ou une démo “heure”</li>
<li>De lancer les programmes omaRadio</li>
<li>D’ effacer la base de données.</li>
<li>D’importer la radio minimum</li>
<li>Éventuellement d’importer des bonus</li>
</ul>
<p>==&gt; la radio est lancée.</p>
<ul>
<li>A la fin du script, il vous demande si vous voulez arrêter la radio.</li>
</ul>
<p>Notes importante : le bonus 0 a 3 options :</p>
<ul>
<li>la radio “jour”  correspond à une radio normale</li>
<li>la radio “heure”  est une radio condensé où tout ce passe en une heure.
<ul>
<li>à et quart il est 10 heures du matin</li>
<li>à et demi il est 11 heures du matin</li>
<li>à - quart il est 12 heures du matin</li>
</ul>
</li>
<li>la radio “maintenant” est une radio en continue qui reboucle.
<ul>
<li>les 3 émissions sont diffusées dans l’ordre à la suite</li>
</ul>
</li>
</ul>
<p>Lorsque la radio tourne sur votre PC (en local) :</p>
<ul>
<li>omaQtRemote permet de piloter la radio</li>
<li>omaPlayer diffuse la radio ( option)</li>
<li>omaStreamer envoie du son sur la radio (option)</li>
<li>omaJukebox diffuse le programme</li>
<li>omaBaseImport importe vos nouveautés</li>
<li>omaMp3Addon gère la compatibilité MP3</li>
<li>omaBaseManager permet de renommer les éléments de la base et d’éditer les tags des sons</li>
</ul>
<p>Vous avez donc une radio sur votre PC pour vous familiariser avec le système omaRadio.</p>
<ul>
<li>en regardant / modifiant le contenu des répertoires</li>
<li>en important des bonus.</li>
<li>en important vos sons, images, textes etc dans le répertoire import</li>
<li>en navigant dans les menus de omaQtRemote</li>
</ul>
<p>Note importante :</p>
<ul>
<li>
<p>En cas de perte de contrôle, vous pouvez :</p>
<ul>
<li>sortir du script : Cela arrête la radio mais n’efface pas vos données.</li>
<li>relancer le script en demandant l’effacement de la base et son import.</li>
</ul>
</li>
<li>
<p>En cas de perte totale de contrôle vous pouvez restaurer la configuration initiale en utilisant git ( c’est pour ça que la démo est sous git)</p>
</li>
</ul>
<p>Attention : Si vous sortez du script sans arrêter la radio, il vous appartient d’arrêter les processus omaRadio qui ont été lancés.</p>
<h3>IV-Installer le minimum sur un serveur</h3>
<p>Attention cela demande des compétences en informatique et sort du cadre de ce document !</p>
<p>L’ingénieur système pourra :</p>
<ul>
<li>s’inspirer des configurations fournis dans le répertoire cfg_docker</li>
<li>Décider de l’endroit optimum pour stocker les musiques de secours et éditer les configurations. En effet si il y a un risque que la base de sons soit momentanément inaccessible,vous pouvez stocker chaque fichier de secours a un endroit plus approprié</li>
<li>adapter le contenu du répertoire secours notamment avec le jingle de la radio</li>
<li>une fois les services lancés, la radio tourne sur un programme minimum
’ une musique de secours, un jingle …)’</li>
</ul>
<p>Note 1 : les bonus doivent être importés via le site d’importation de la radio.</p>
<p>Note 2 :</p>
<h3>V-Quel contenu doit contenir une radio pour démarrer à partir de radioDemo ?</h3>
<p>Le strict minimum est :</p>
<ul>
<li>
<p>pour omaJukebox :</p>
<ul>
<li>Un jingle avec le nom de la radio ( par défaut on va dire “merci d’écouter radio démo”)</li>
<li>Une musique de secours</li>
</ul>
</li>
</ul>
<ul>
<li>
<p>pour omaMux, omaPlayer :</p>
<ul>
<li>une musique de secours</li>
<li></li>
</ul>
</li>
</ul>
<p>Note : dans radioDemo, cela est regroupé dans le répertoire secours.<br />
Note : vous pouvez mutualiser la musique de secours ou au contraire les différencier (ce qui simplifie le diagnostique en cas de panne )</p>
<p>Ça fait plus sérieux si on ajoute :</p>
<ul>
<li>Des musiques,</li>
<li>Une playlist avec les musiques dedans.</li>
</ul>
<p>( par défaut on joue une playlist “mini” avec de courts extraits de musiques libres de droit)</p>
<p>===&gt; Voir la descriptions des bonus plus loin dans ce document.</p>
<h3>VI-Comment on ajoute du contenu ?</h3>
<p>Lorsqu’une radio est créé, elle contient le même contenu que radioDemo. Vous devez donc modifier le jingle et la playliste. Vous pourrez également changer la grille de programme.</p>
<p>Le principe est toujours le même : ( exemple du jingle)</p>
<ul>
<li>Vous importez votre nouveau jingle.</li>
<li>Vous importez un lien vers votre jingle.</li>
</ul>
<h3>VII-Que contient le minimum ?</h3>
<p>En fait, lorsque la radio démarre (omaJukeBox en pratique). omaJuxebox cherche le fichier Programme-Defaut ( ce nom est dans la configuration de omaJukebox)</p>
<p>Ce fichier est un lien qui (dans la démo) pointe sur ProgrammeDemo-V1.</p>
<p>==&gt; Note on peut donc créer des nouveaux programmes (V2,V3…) en changeant ce lien.
==&gt; Note selon le choix fait, ProgrammeDemo-V1 contient soit une version jour soit une version heure.</p>
<p>Que contient ProgrammeDemoV1 ?</p>
<pre><code>1 # diffuse 4 playlistes et dit bonjour
2 ProgrammeSynchro Jour
3 # pour changer de radio changer set0 et_creer les 4 playlistes
4 J 00 00 00 00 00 00 setMsg  1 60000 Merci d ecouter la demonstration
5 J 00 00 00 00 00 00 setMsg 11 60000_Joue 4 playlistes(matin aprem soir nuit) et dit  bonjour en fonction de la plage horaire 
6 P 00 00 00 00 00 00 set0 Demo
7 P 00 00 00 00 00 00 set1 jour
8 P 00 00 00 00 00 00 set2 plageHoraire
9 P 00 00 00 00 00 00 set3 podcast
10 J 00 00 00 00 01 00 playlistR Playliste-%2
11 J 00 00 00 12 00 00 playlistR Playliste-%2  
12 J 00 00 00 19 00 00 playlistR Playliste-%2
13 J 00 00 00 22 00 00 playlistR Playliste-%2
14 J 00 00 00 23 59 59 end restart
</code></pre>
<p>Bon c’est un peu ésotérique ? Allons y doucement</p>
<p>ligne 1 et 3 : # indique que la ligne est un commentaire</p>
<p>ligne 2 : indique à la machine que ce programme a une périodicité sur un jour</p>
<p>ligne 4 et 5 : messages qui seront envoyés au webPlayer de l’auditeur</p>
<p>ligne 6..8 : on initialise des variables (y en a 10)
Par exemple ligne 7, on dit que %1 va être remplacé par le jour de la semaine (lundi, mardi..)</p>
<p>ligne 10 : on dit qu’à partir de 0 h 1 minute, on diffuse en aléatoire la playlist Playliste-%2 donc Playliste-Matin</p>
<p>ligne 11 idem mais à partir de 12 heures on diffuse Playliste-Aprem</p>
<p>ligne 12 à partir de 19 heures, PlayListe-Soir</p>
<p>ligne 13 22 heures, Playliste-Nuit</p>
<p>ligne 14 on lui dit qu’a 23 heures 59 minutes et 59 secondes, il doit recommencer au début.</p>
<p>Note : Il y a plein d’autres possibilités ( pour diffuser une émission, une émission tirée au hasard dans une liste,…) Mais ça sort du cadre de ce document.</p>
<p>Donc à 0 heure 1 minute, le système va jouer jusqu’à midi, la playliste Playliste-Matin ?</p>
<p>OUI ! Mais Playliste-Matin est un lien… Qui pointe sur Playliste-BourrageV1.</p>
<p>Évidemment c’est la même chose pour les autres qui pointent aussi sur Playliste-BourrageV1.</p>
<p>Par défaut, on diffuse donc une seule playliste. Mais que contient cette playliste ?</p>
<p>Elle a été importé sous forme “brute”. l’importateur lui a donc ajouté des jingles ( voir la configuration de omaBaseImport). En l’occurrence il a ajouté :</p>
<ul>
<li>Jingle-Defaut1  toutes les 2 chansons</li>
<li>Jingle-Defaut2 toutes les 3 chansons</li>
</ul>
<p>Donc, on va avoir un jingle toutes les 2 chansons et un autre toutes les 3 ?</p>
<p>OUI! Mais en faite, ce sont des liens qui pointent tout les deux sur JingleDemo-MerciPacV1</p>
<h3>VIII- Comment personnaliser la démo ?</h3>
<p>Il faut importer du contenu et importer (changer) un des liens définit dans le programme ou les playlists). Autrement dit :</p>
<ul>
<li>
<p>si un lien est déjà prévu dans le programme, il suffit d’importer le contenu et changer le lien</p>
</li>
<li>
<p>si le lien n’existe pas dans le programme, il faut modifier le programme pour ajouter le lien</p>
</li>
<li>
<p>si un lien existe et qu’il nous est pas utile, on peut</p>
<ul>
<li>le neutraliser en mettant le mot clef Vide dedans</li>
<li>importer un nouveau programme pour enlever le lien et régler Programme-Defaut.lien</li>
</ul>
</li>
</ul>
<h4>Changer un jingle</h4>
<p>Une solution possible est :</p>
<ul>
<li>On importe le nouveau Jingle ( exemple JingleMaRadio-MerciJulietteV1)</li>
<li>On importe le lien Jingle-Defaut1 qui pointe sur JingleMaRadio-MerciJulietteV1</li>
<li>On importe le lien Jingle-Defaut2 qui pointe sur JingleMaRadio-MerciJulietteV1</li>
</ul>
<p>Si vous voulez importer 2 jingles différents, je vous laisse faire…</p>
<h4>Dire bonne matinée, bonne après-midi, bonne soirée et bonne nuit?</h4>
<p>Une solution possible est :</p>
<ul>
<li>On importe 4 jingles
<ul>
<li>JingleMaRadio-Merci_matinJulietteV1</li>
<li>JingleMaRadio-Merci_apremJulietteV1</li>
<li>JingleMaRadio-Merci_soirJulietteV1</li>
<li>JingleMaRadio-Merci_julietteJulietteV1</li>
</ul>
</li>
<li>On change le lien JingleDefaut1 pour qu’il pointe sur JingleMaRadio-Merci_%2JulietteV1</li>
</ul>
<p>Note : c’est ce que fait le bonus 2.</p>
<h4>Passer du classique le matin ?</h4>
<p>Il y a 2 façons d’aborder le problème :</p>
<ul>
<li>soit on fait une playlist de bourrage et le matin c’est classique si on a rien de mieux.</li>
<li>soit on fait une playlist voicetrack et on programme sa diffusion par exemple de 11 h à 12 h tous les matins.</li>
</ul>
<p>dans les 2 cas :</p>
<ul>
<li>
<p>On importe les musiques qui manquent dans la base</p>
</li>
<li>
<p>On importe la playlist (exemple Playliste-ClassiqueNicoV1)</p>
</li>
</ul>
<p>Si on veut avoir du classique par défaut le matin,</p>
<ul>
<li>On définie le lien Playliste-matin  qui pointe sur Playliste-ClassiqueNicoV1</li>
</ul>
<p>Si on veut avoir du classique de 11 h à 12 h,</p>
<ul>
<li>On définie le lien Emission-11h</li>
</ul>
<h4>Mettre à jour une playlist ?</h4>
<p>Par exemple Nico souhaite mettre à jour sa playlist. Il va :</p>
<ul>
<li>importer de nouvelles musiques</li>
<li>créer et importer la playlist Playliste-ClassiqueNicoV2</li>
<li>définir : au choix
<ul>
<li>le lien Playliste-matin pour qu’il pointe vers PlayListe-ClassiqueNicoV2</li>
<li>le lien Emission-11h pour qu’il pointe vers PlayListe-ClassiqueNicoV2</li>
</ul>
</li>
</ul>
<h4>Ajouter des tops horaires ?</h4>
<p>On souhaite annoncer “il est onze heures” ect…</p>
<p>Le système omaRadio dispose d’une variable pré définie “heure” ( il y a aussi “jour” etc…)</p>
<p>On associe à une des variable système ( par exemple %3)  à l’heure de diffusion</p>
<pre><code>     set 3 heure
</code></pre>
<p>Partout où le système va rencontrer %3 il vaut mettre l’heure de diffusion</p>
<p>Donc si on met :</p>
<pre><code> J 00 00 00 11 00 00 play Annonce-Horaire_%3h
</code></pre>
<p>On jouera le fichier Annonce-Horaire_11h a onze heures.</p>
<p>Note : on peut aussi mettre</p>
<pre><code> J 00 00 00 11 00 00 play Annonce-Horaire
</code></pre>
<p>et définir Annonce-Horaire comme étant un lien. C’est plus souple. On peut ainsi avoir des Annonce-HoraireV1_11h et les mettre à jour sans changer la grille de programme.</p>
<h4>Ajouter des textes courts(messages)</h4>
<h4>Ajouter des photos</h4>
<h4>Ajouter des textes (fichiers)</h4>
<h4>Ajouter des podcasts</h4>
<h4>Diffuser le dernier podcast d’une série d’émissions</h4>
<h4>Ajouter des photos /des textes statiques</h4>
<p>Il est possible (via le manager) de choisir :</p>
<ul>
<li>le logo de la radio</li>
<li>le texte de présentation</li>
<li>le texte d’accueil</li>
<li>la fiche contact</li>
</ul>
<p>Un exemple est disponible dans le bonus 6 et dans le bonus 11.</p>
<p>La procédure est la suivante :</p>
<ul>
<li>on importe le document</li>
<li>on importe le lien  ou on ajoute le document a une liste</li>
</ul>
<p>Les liens ou les listes sont définies par l’utilisateur et doivent etre connues du web player.</p>
<h4>Changer la grille de programme ?</h4>
<p>ATTENTION ! C’est un peu plus délicat et c’est réservé au responsable d’antenne ( grille d’été, d’hiver…)</p>
<ul>
<li>On crée un nouveau programme (par exemple ProgrammeMaRadio-V2)</li>
<li>On définit le lien Programme-defaut pour qu’il pointe vers ProgrammeMaRadio-V2</li>
</ul>
<p>Note importante :</p>
<ul>
<li>Il est possible d’utiliser omaJukeSim pour tester le comportement des programmes et des playlists avant de les mettre réellement à l’antenne.</li>
<li>Il est nécessaire de redémarrer le service omaJukeBox avec omaQtRemote par exemple.</li>
<li>On peut prévoir une grille plus étoffée en réservant des créneaux pour de futurs émissions.</li>
</ul>
<p>exemple :</p>
<pre><code>J 00 00 00 11 00 00 play Emission-11h
</code></pre>
<p>3 cas de figure :</p>
<ul>
<li>Emission-11h  n’existe pas, le système mettra la musique de secours</li>
<li>Emission-11h  est un lien sur “Vide” le système ignorera l’émission de 11 h</li>
<li>Emission-11h  est un lien valide par exemple Nico-InstantClassicV2 le système la diffusera</li>
</ul>
<h3>IX- Utiliser les bonus</h3>
<p>Les bonus sont des exemples que vous pouvez personnaliser.
C’est du contenu. C’est à dire un ensemble de fichiers cohérents entre eux. Ils s’importent dans la radio  via le site de gestion ou en les copiant dans le répertoire import. Ils ont l’extension bonusIn.</p>
<p>Note : dans un bonus, il y a une notion d’ordre d’importation ( par exemple le son doit être importé avant la modification de sa fiche)</p>
<h3>X- Fabriquer / Adapter un bonus</h3>
<p>Les bonus fournis sont des exemples. Ils doivent être adapter à chaque radio. Par exemple les top horaire etc …</p>
<h4>Créer un nouveau bonus</h4>
<p>Note : il est souvent plus rapide de partir d’un bonus existant et de le modifier.</p>
<p>Une méthode possible consiste , sur un PC, a:</p>
<ol>
<li>
<p>créé un répertoire vide</p>
</li>
<li>
<p>mettre les fichiers à importer dedans</p>
</li>
<li>
<p>vérifier que  les fichiers s’importent un par un dans la radio démo sur votre PC ( en respectant l’ordre).</p>
</li>
<li>
<p>renommer les fichiers en ajoutant le numéro d’ordre à la fin de l’extension ( par exemple ficIn devient ficin2 ).</p>
</li>
<li>
<p>faire la commande :</p>
<p>zip ../Oma-Bonus6Amoi.bonusIn <em>.</em></p>
</li>
</ol>
<h4>Modifier un bonus</h4>
<p>Le plus simple c’est de récupérer un répertoire importBonusX de la démo pour avoir une trame de départ.</p>
<ol>
<li>
<p>copier le bonus (par exemple ImportBonus6 ) dans un nouveau répertoire.</p>
</li>
<li>
<p>modifier / éditer les fichiers</p>
</li>
<li>
<p>faire la commande en étant dans le répertoire :</p>
<p>zip ../Oma-Bonus6Amoi.bonusIn <em>.</em></p>
</li>
<li>
<p>le fichier peut être importer via le site de gestion ou simplement copié dans le répertoire import de la radio.</p>
</li>
</ol>
<h4>Exporter un bonus</h4>
<p>Il peut être intéressant de récupérer un bonus déjà fait ou d’en créer un pour exporter en “bloc” d’une radio vers une autre</p>
<p>Pour cela, il faut connaître le nom du bonus et récupérer sa fiches dans la base de son.</p>
<p>Après l’avoir éventuellement édité, la renommer en .bonusOu</p>
<p>Il suffit alors de l’importer et de recuperer dans le repertoire export de la radio le fichier .bonusOut correspondant.</p>
<p>Ce fichier peut etre dezipé dans un répertoire vide de votre PC pour être modifié.</p>
<p>Ce fichier, une fois renommé en bonusIn, peut être importer dans une autre radio.</p>
<h3>Annexe 1 : Description des bonus</h3>
<p>Les bonus, sont des exemples qui montrent comment implémenter des fonctionnalités.
La difficulté étant qu’une fonctionnalité nécessite un ensemble de fichiers cohérents.
Il y a (en général) plusieurs façons d’implémenter une fonctionnalité.
Les Bonus sont une façon de découvrir plusieurs possibilités.</p>
<p>A vous ensuite, de faire le “mix” unique qui correspond à votre radio. N’oubliez pas d’utiliser le simulateur pour vérifier que le système réagit selon vos attentes.</p>
<p>ATTENTION : Ces contenus étant “plus élaborés”, l’importation fichier par ficher est possible mais un peu fastidieuse. Il faut respecter l’ordre de création. Il est plus judicieux d’utiliser l’importation de bonus.</p>
<p>Note : Si vous pensez votre émission voicetrack sous forme de bonus, vous avez :</p>
<ul>
<li>un ensemble de fichiers dans un répertoire de votre PC</li>
<li>pour faire une nouvelle version, vous bricolez les fichiers de votre répertoire</li>
<li>vous fabriquez votre bonus</li>
<li>vous l’importez dans la radio.</li>
</ul>
<h4>Bonus 0</h4>
<p>Ce bonus crée une structure “de base” composée :</p>
<ul>
<li>d’un programme  avec des liens symboliques vides</li>
<li>une annonce  (10 secondes max)  toutes les heures</li>
<li>une émission (3590 secondes max) toutes les heures</li>
<li>des playlists en fonction de la plage horaire</li>
</ul>
<p>Attention ce bonus se décline en 3 variantes :</p>
<ul>
<li>jour : le programme tourne sur une journée</li>
<li>heure : c’est une version accélérée ou la journée se déroule sur une heure</li>
<li>maintenant : le programme boucle sur lui même</li>
</ul>
<p>Note : il est possible de faire des programmes “plus sophistiqués”</p>
<h4>Bonus 1</h4>
<p>Ce bonus illustre le fonctionnement multimédia de oma-radio et de son webPlayer.</p>
<p>Il consiste à définir une chronique qui, en plus du son, affiche des photos et du texte dans le player.</p>
<p>On trouve donc dans ce bonus :</p>
<ul>
<li>Pac-chroniqueChatChien.wavIn0 : le son de la chronique</li>
<li>Pac-chat.jpgIn0 : la photo du chat en question</li>
<li>Pac-chien.jpgIn0 : la photo du chien en question</li>
<li>Pac-chroniqueChatChien.ficheIn1 : la description de l’émission</li>
<li>Emission-10h.lienIn2 : le lien pour que la chronique soit diffusée à 10 heures.</li>
</ul>
<p>Note : le lien Emission-10h doit être déjà présent dans le programme</p>
<p>Note : dans le cas de la démo “heure”, le lien Emission-10h, est défini a et quart</p>
<p>En effet, Tout va ce jouer dans le contenu de la fiche montré ci-dessous :</p>
<pre><code>1 Import : wav
2 TagTime : 1 2 100 200
3 Tag1 : 11 1 Pierre-albert
4 Tag2 : 11 11 le chat et le chien
5 Tag100 : 11 81 Pac-chat   
6 Tag200 : 11 81 Pac-chien
</code></pre>
<p>Ligne 1 : on indique qu’il faut importer le fichier wav du même nom</p>
<p>Ligne 2 : on définit les instants (nombre de secondes depuis le début) où il se passe quelque chose.</p>
<p>Ligne 3 : on envoie le nom de l’auteur ( Msg1 -&gt; ch sur le webPlayer. C’est une convention choisie par la radio de mettre les auteurs sur le Msg 1 . )</p>
<p>Ligne 4 idem mais titre de la chronique</p>
<p>Ligne 5 : on envoie le nom du fichier qui contient la photo. (elle va s’afficher entre 100 et 200 secondes)</p>
<p>Ligne 6 : le nom de la photo qui va remplacer (Msg 81) à partir de 200 secondes et jusqu’à la fin.</p>
<p>Ensuite, il va suffire de redéfinir le lien Emission-10h pour qu’il pointe sur Pac-ChroniqueChatChien.</p>
<p>Contenu du fichier Emission-11h.lienIn2 :</p>
<pre><code>1 Info : ce_fichier_est_un_lien
2 Reel : Pac-chroniqueChatChien
</code></pre>
<h4>Bonus 2</h4>
<p>Ce bonus permet de dire bonne matinée, bonne après-midi etc …
IL consiste à définir Jingle-Defaut1 comme un jingle “contextuel” en fonction de la plage horaire.</p>
<p>On trouve dans ce bonus :</p>
<ul>
<li>JingleDemo-BonMatinPacV1.wavIn0  : le son pour le matin</li>
</ul>
<ul>
<li>JingleDemo-BonApremPacV1.wavIn0  : le son pour l’après-midi</li>
<li>JingleDemo-BonSoirPacV1.wavIn0   : le son pour le soir</li>
<li>JingleDemo-BonNuitPacV1.wavIn0   : le son pour la nuit</li>
<li>Jingle-BonMatin_Lundi.lien1      : lien intermédiaire pour pouvoir change le son</li>
</ul>
<ul>
<li>JingleDefaut1.lienIn2            : le lien pour que le jingle soit remplacé par des choses variables.</li>
</ul>
<p>Contenu du fichier JingleDefaut1.lienIn2 :</p>
<pre><code>1 Info : ce_fichier_est_un_lien
2 Reel : JingleDemo-Bon%2_%1
</code></pre>
<p>Note 1 : Dans programmeDemoV1, la variable %2 est initialisée avec la plage horaire et la variable %1 comme le nom du jour.</p>
<p>Note 2 : Les playlists (de bourrage) doivent contenir des JingleDefaut1.</p>
<p>Note 3 : les voicetrack peuvent insérer des plages avec des % et fournir les différentes combinaisons pour s’adapter “automatiquement” au moment de diffusion ( ex  on passe la matinée, la soirée .. )</p>
<p>Les plages horaires sont définie dans la configuration de omaJuxebox ( par défaut c’est la définition de la marine nationale française )</p>
<h4>Bonus 3</h4>
<p>Ce bonus permet d’ajouter une émission en voice track à 11 h tous les jours.
Cette émission s”appelle InstantJazz.</p>
<p>Principe arbitrairement choisi pour l”émission :</p>
<ul>
<li>
<p>l’animateur dit bonjour et annonce l’émission.</p>
</li>
<li>
<p>diffuse 2 titres parmi 4 ( il faudrait un chiffre plus grand mais c’est une démo).</p>
</li>
<li>
<p>il annonce les titres et dit une c…rie.</p>
</li>
<li>
<p>L’animateur dit au revoir.</p>
</li>
</ul>
<p>Note importante :</p>
<ul>
<li>Ce bonus ne contient que de courts extraits de musiques libres à des fins de démonstration.</li>
</ul>
<p>On trouve dans ce bonus :</p>
<ul>
<li>Pac-InstantJazz_AnnonceDebV1.wavIn0		 : lancement de l’émission</li>
<li>Pac-InstantJazz_AnnonceFinV1.wavOn0       : fin de l’émission</li>
<li>Pac-InstantJazz_JingleV1.wavIn0           : jingle de l’émission</li>
<li>Audiohub-AllTheSummerGirls.mp3In0</li>
<li>Audiohub-AllOverNow.mp3In0</li>
<li>Audiohub-ZombieInvasion.mp3In0</li>
<li>Audiohub-HandsUpForSummer.mp3In0</li>
<li>Pac-AllTheSummerGirls_AnnonceV1.wavIn0</li>
<li>Pac-AllOverNow_AnnonceV1.wavIn0</li>
<li>Pac-ZombieInvasion_AnnonceV1.wavIn0</li>
<li>Pac-HandsUpForSummer_AnnonceV1.wavIn0</li>
<li>Pac-InstantJazzV1.lstIn1             : le contenu de la première émission</li>
<li>RadioDemo-Emission11h.lienIn2        : le lien qui est utilisé dans le programme</li>
</ul>
<p>Note : radioDemo-Emission11h est un lien qui a été prévu dans le programme. Vous pouvez mettre l’émission que vous voulez !</p>
<p>La difficulté se situe au niveau de la playlist.</p>
<p>Contenu du fichier Pac-InstantJazzV1.lstIn1</p>
<pre><code>1 Pac-InstantJazz_AnnonceDebV1 F
2 Pac-AllTheSummerGirls_AnnonceV1 M
3 Audiohub-AllTheSummerGirls L
4 Pac-InstantJazz_JingleV1 F 
5 Pac-AllOverNow_AnnonceV1 M
6 Audiohub-AllOverNow L  
7 Pac-InstantJazz_AnnonceFinV1 F
8 ~Stop~
9 Pac-ZombieInvasion_AnnonceV1 M
10 Audiohub-ZombieInvasion L
11 Pac-HandForSummer_AnnonceV1 M
12 Audiohub-HandsUpForSummer L
13 ~End~
</code></pre>
<p>il y a 3 types de lignes :</p>
<ul>
<li>
<p>les commentaires qui commencent par #</p>
</li>
<li>
<p>les instructions qui commencent par ~</p>
</li>
<li>
<p>les plages musicales qui sont suivie du type de diffusion</p>
</li>
</ul>
<p>Les diffusions possibles sont :</p>
<ul>
<li>
<p>Les F (fixe) indique des plages qui ne doivent pas bouger.</p>
</li>
<li>
<p>les L (comme lien) qui  sont un bloc inséparable avec le M qui les précèdes</p>
</li>
<li>
<p>Les couples (M+L) vont donc pouvoir être interchanges et leur passage tiré au hasard.</p>
</li>
</ul>
<p>Les instructions possibles sont :</p>
<ul>
<li>
<p><del>Annonce</del> indique l’annonce à diffuser en cas de troncature ( voir bonus 7)</p>
</li>
<li>
<p><del>Stop</del> indique la fin de l’émission</p>
</li>
<li>
<p><del>End</del>  indique la fin des plages de la playlist.</p>
</li>
</ul>
<p>En effet on souhaite diffuser que 2 titres (piochés au hasard ) parmi les 4 de la playlist.</p>
<p>Note importante : en cas de grande playlist, le tirage au sort (M) peut entraîner une grande variation de la durée totale de la playlist selon le tirage. On peut donc se retrouver avec une playlist qui “déborde” et l’annonce de fin n’est pas diffusée… Voir Bonus 7.</p>
<h4>Bonus 4</h4>
<p>Ce bonus permet d’ajouter un top horaire.</p>
<p>Le principe est le suivant :</p>
<ul>
<li>une annonce est insérée en début d’heure  dans le programme de la radio</li>
<li>cette annonce est un lien vers un fichier avec la variable %3</li>
<li>la variable %3 est réglée pour contenir l’heure courante</li>
<li>il y a 24 fichiers oggIn0 avec l’heure</li>
</ul>
<p>Attention:</p>
<ul>
<li>les 24 fichiers ont le même numéro de version</li>
<li>la musique en cours est interrompue et c’est une autre musique qui commence après.</li>
</ul>
<h4>Bonus 5</h4>
<p>Ce bonus permet d’ajouter des podcasts statiques. Statique veut dire qui ne dépendent pas de ce que diffuse la radio. Par opposition aux podcasts dynamiques qui sont proposés en complément de ce que diffuse le flux audio.</p>
<p>Le principe est le suivant :</p>
<ul>
<li>_series-_index.fic               : ajoute le champ PodcastStatique</li>
<li>Pac-ChroniqueRadioDemo_V1.oggIn0 : le son d’une chronique</li>
<li>Pac-ChroniqueOmaradio_V1.oggIn0  : le son d’une chronique</li>
<li>Pac-Chroniques.serieIn1          : ajoute la série Pac-Chroniques dans la liste PodcastStatique</li>
<li>Pac-ChroniqueOmaRadio_V1.podIn2  : fiche qui ajoute Pac-ChroniqueOmaRadio_V1 dans la série</li>
<li>Pac-ChroniqueRadioDemo_V1.podIn2 : fiche qui ajoute Pac-ChroniqueRadioDemo_V1 dans la série</li>
</ul>
<h4>Bonus 6</h4>
<p>Ce bonus permet d’ajouter des photos et des textes statiques. Statique veut dire qui ne dépendent pas de ce que diffuse la radio. Par exemple des photos de fond d’écran etc…</p>
<p>Il existe 2 façons de réaliser cet objectif :</p>
<ul>
<li>avec des liens</li>
<li>avec des listes</li>
</ul>
<p>Ce bonus montre la solution avec des liens.</p>
<p>Le principe est le suivant :</p>
<ul>
<li>on importe une photo : RadioDemo-LogoV1.jpgIn0</li>
<li>on importe un texte  : RadioDemo-AccueilV1.txtIn0</li>
<li>on importe un texte  : RadioDemo-QuiSommesNousV1.txtIn0</li>
<li>on importe un texte  : RadioDemo-ContactV1.txtIn0</li>
</ul>
<p>Puis on définie des liens qui sont connus du player :</p>
<ul>
<li>on importe le lien   : StatiquePhoto-PremierPage.lienIn1</li>
<li>on importe le lien   : StatiqueTexte-PremierePage.lienIn1</li>
<li>on importe le lien   : StatiqueTexte-Presentation.lienIn1</li>
<li>on importe le lien   : StatiqueTexte-Contact.lienIn1</li>
</ul>
<p>Note 1 : on suppose que le player Web gère StatiquePhoto et StatiqueTexte. C’est à dire qu’il sait les afficher.</p>
<p>Note 2 : le mécanisme est transparent pour omaJuxeBox.</p>
<h4>Bonus 7</h4>
<p>Ce bonus montre comment on peut gérer une playlist (voicetrack) avec des randoms ET en respectant l’horaire. C’est une variante plus sophistiquée du Bonus 3.</p>
<p>ATTENTION il faut avoir chargé le bonus 3  avant !</p>
<p>Dans le programme Demo heure, l’émission de 11 h dure 600 secondes donc 10 minutes maximum et est diffusée à la demi-heure de chaque heure.</p>
<p>On va donc :</p>
<ul>
<li>créer une playlist  qui fait plus de 10 minutes Pac-InstantJazzTropLong.lstIn0</li>
<li>utiliser l’instruction <del>annonce</del> pour dire “au revoir” avant la fin</li>
</ul>
<p>Note : Pour ne pas faire grossir la base de sons, on se contente de tourner sur les sons existants.</p>
<p>Note : pour les explications de la syntaxe, voir le bonus 3.</p>
<p>On trouve dans ce bonus les fichiers suivants :</p>
<ul>
<li>Pac-InstantJazzTropLong_AnnonceDebV1.oggIn0</li>
<li>Pac-InstantJazz_AnnonceFinTropLongV1.oggIn0</li>
<li>Pac-InstantJazzTropLongV1.lstIn1</li>
<li>RadioDemo-Emission11h.lienIn2</li>
</ul>
<p>La difficulté se situe au niveau de la playlist.</p>
<p>Contenu du fichier Pac-InstantJazzTropLongV1.lstIn1</p>
<pre><code>   1 ~Annonce~ Pac-InstantJazz_AnnonceFinTropLongV1
   2 Pac-InstantJazzTropLong_AnnonceDebV1 F
   3 Pac-AllTheSummerGirls_AnnonceV1 M
   4 Audiohub-AllTheSummerGirls L
   5 Pac-InstantJazz_JingleV1 F 
   6 Pac-AllOverNow_AnnonceV1 M
   7 Audiohub-AllOverNow L  
   8 Pac-ZombieInvasion_AnnonceV1 M
   9 Audiohub-ZombieInvasion L
  10 Pac-HandForSummer_AnnonceV1 M
  11 Audiohub-HandsUpForSummer L
  12 Pac-InstantJazz_AnnonceFinV1 F
  13 ~End~
</code></pre>
<p>On remarque :</p>
<ul>
<li>ligne 1 : on indique ce qu’il faut diffuser à la fin de l’émission tronquée.</li>
<li>ligne 12 : on indique ce qu’il faut diffuser à la fin normale de l’émission.</li>
</ul>
<p>OmaJuxebox vérifie que l’émission totale ( avec les annonces ) a une durée inférieure à 10 minutes ( la consigne de 10 minutes a été mise dans le programme heure)</p>
<h4>Bonus 8</h4>
<p>Ce bonus montre comment on peut diffuser le dernier podcast d’une liste de podcast à 20 heures.</p>
<p>On trouve dans ce bonus :</p>
<ul>
<li>Emission-20h.lienIn2 : le lien qui pointe vers l’émission</li>
<li>Pac-Rediffusion_Pac_Chroniques_Der_AnnonceDeb.oggIn0 : on annonce la rediffusion</li>
<li>Pac-Rediffusion_Pac_Chroniques_Der_AnnonceFin.oggIn0 : on annonce la fin de la rediffusion</li>
<li>Pac-Rediffusion_Pac_Chroniques_Der.lstIn1 : la playlist de l’émission de rediffusion</li>
</ul>
<p>Contenu du fichier Pac-RediffusionPodcast.lstIn1</p>
<pre><code> 1 Pac-RediffusionPodcast_AnnonceDeb F
 2 ~PodStatique~ Pac-Chroniques 0 F
 3 Pac-RediffusionPodcast_AnnonceFin F
 4 ~End~
</code></pre>
<p>La ligne 2  indique qu l’on veut diffuser un son qui sort d’une liste. La liste s’appelle Pac-Chroniques et on veut le son 0 (donc le plus récent)</p>
<p>Note: il est possible de redéfinir le lien sur une playlist plus sophistiquée…</p>
<p>Note : si la playliste a une erreur de chargement, elle est ignorée.</p>
<h3>Bonus 9</h3>
<p>Ce bonus contient un podcast multimédia qui montre le montage du studio mobile.</p>
<h3>Bonus 10</h3>
<p>Ce bonus montre comment on diffuse un podcast pris au hasard dans une liste de podcasts statiques.</p>
<p>On trouve dans ce bonus :</p>
<ul>
<li>Emission-12h.lienIn2  : Le lien qui pointe vers l’émission</li>
<li>Pac-Rediffusion_Pac_Chroniques_Rnd_AnnonceDeb.oggIn0 : l’annonce de la rediffusion</li>
<li>Pac-Rediffusion_Pac_Chroniques_Rnd_AnnonceFin.oggIn0 : l’annonce de fin</li>
<li>Pac-Rediffusion_Pac_Chroniques_Rnd.lstIn1 : la playliste de l’émission de rediffusion</li>
</ul>
<p>Contenu du fichier Pac-Rediffusion_Pac_Chroniques_Rnd.lstIn1</p>
<pre><code>1 Pac-Rediffusion_Pac_Chroniques_Rnd_AnnonceDeb F
2 ~PodStatique~ Pac-Chroniques rnd F
3 Pac-Rediffusion_Pac_Chroniques_Rnd_AnnonceFin F
4 ~End~
</code></pre>
<p>juxebox va donc diffuser l’annonce, un fichier tiré au sort parmi les fichiers de la liste Pac-Chroniques puis l’annonce de fin.</p>
<p>Note : si la playliste a une erreur de chargement, elle est ignorée.</p>
<h3>Bonus 11</h3>
<p>Ce bonus permet d’ajouter des photos, des textes statiques, des sons statiques. Statique veut dire qui ne dépendent pas de ce que diffuse la radio. Par exemple des photos de fond d’écran etc…</p>
<p>Il existe 2 façons de réaliser cet objectif :</p>
<ul>
<li>avec des liens</li>
<li>avec des listes</li>
</ul>
<p>Ce bonus montre la solution avec des listes. ( le bonus 6 montre avec des liens )</p>
<p>Le principe est le suivant :</p>
<ul>
<li>on importe une photo : RadioDemo-LogoV1.jpgIn0</li>
<li>on importe un texte  : RadioDemo-AccueilV1.txtIn0</li>
<li>on importe un texte  : RadioDemo-QuiSommesNousV1.txtIn0</li>
<li>on importe un texte  : RadioDemo-ContactV1.txtIn0</li>
</ul>
<p>Puis on les ajoute à des listes connues : (Photo-Statiques et Textes-Statiques )</p>
<ul>
<li>on importe le lien   : StatiquePhoto-PremierPage.lienIn1</li>
<li>on importe le lien   : StatiqueTexte-PremierePage.lienIn1</li>
<li>on importe le lien   : StatiqueTexte-Presentation.lienIn1</li>
<li>on importe le lien   : StatiqueTexte-Contact.lienIn1</li>
</ul>
<p>Note 1 : on suppose que le player Web connaît et sait lire les fiches Photo-Statiques et Textes-Statiques. C’est à dire qu’il sait les afficher.</p>
<p>Note 2 : on peut créé Sons-Statiques qui contient des sons pour “parler à l’auditeur”</p>
<p>Note 3 : le mécanisme est transparent pour omaJuxeBox.</p>
<h3>Annexe 2 : Lancer icecast2 sur le PC</h3>
<p>Il faut préalablement installer icecast2. Certaines versions posent problème.</p>
<p>apt install icecast2</p>
<p>==&gt; ça installe la 1:2.4.0</p>
<p>==&gt; y a un fichier /etc/icecast.xml avec un propriétaire étrange ?</p>
<p>==&gt; je le copie dans ~/core/radioDemo/cfg_local/icecast.xml   et je suis le propriétaire</p>
<p>==&gt; je met 8001 a la place de 8000 ???</p>
<p>==&gt; il écoute en 8001 et diffuse en 9000?</p>
<p>==&gt; je vais dans radioDemo et je lance</p>
<p>icecast2 -c icecast.xml</p>
<p>==&gt; ça se lance</p>
<p>==&gt; je me connecte admin hackme</p>
<h3>Annexe 3 : lancer une demo avec un serveur Web</h3>
<p>to do</p>
</body></html>
	</article>

		</main>
		
		<div id="app"></div>

		<footer>
		    <ul>
			  <li>Site généré par <a href="https://oma-radio.fr">Oma-Radio</a> pour Radio Démo avec des outils libres</li>
			  <li>Chaque son, texte, image ou autre contenu a sa propre licence</li>
			  
			  	<li><a target="blank" href="&#x2F;manager">Gestion de la radio</a></li>
			  
		    </ul>
		</footer>
		<script>
		  window.OMA_DATA = null;
		  window.OMA_CONFIG = {
			radioHost: '',
			cleanName: "Radio Démo",
		    ssl: window.location.protocol == 'https:',
		    wsPort: '2000',
		  }
			OMA_PROGRAM_DEFAULT_TAB = [
				
					
						
							"Lundi",
						
					
						
					
				
			];
		</script>

		<script src="./script/main.js"></script>
		<script src="&#x2F;soundbase&#x2F;player/chunk-vendors.js"></script><script src="&#x2F;soundbase&#x2F;player/app.js"></script><link href="&#x2F;soundbase&#x2F;player/app.css" rel="stylesheet">
	</body>
</html>
{% endblock content %}