{% extends "base.html" %}

{% block content %}


	<section style="@media (min-device-width: 1200px) {display:none;}">

		<!-- Le carroussel de carte -->
			{% include "Cards_brochure.html" %}
			
		</section>

		<section  class="js-section_title header_slider theme-black">
			<section id="réseau" style ="display: flex !important; position: relative; text-align: center; align-content: center; justify-content: center;">
				
				{% include "carte.html" %}
				
			</section>
		</section>

		<section id="qui">
			
			{% include "Section_accueil.html" %}
			
		</section>
	
	</section>
	
	<section  style="@media (max-device-width: 1199px) {display:none;}">
	
		<div class="media">
			<img fetchpriority="high" src="./img/publication site FA_1.webp" class="image_default no-lazy" />
			<img fetchpriority="high" src="./img/publication site FA_2.webp" class="image_default no-lazy" />
		</div>

	</section>
		

{% endblock content %}

