{% extends "base.html" %}
{% block content %}

		<section>
	
	<!-- Le carroussel de carte -->
			{% include "Cards_brochure.html" %}
			
		</section>

		<section  class="js-section_title header_slider theme-black">
			<section style ="display: flex !important; position: relative; text-align: center; align-content: center; justify-content: center;">
				
				{% include "carte.html" %}
				
			</section>
		</section>

		<section id="qui">
			
			{% include "Section_accueil.html" %}
			
		</section>
		

{% endblock content %}

