{#
	on garde une seule page pour afficher toutes les grilles afin que les futurs liens morts pointent toujours sur une page qui existe
#}

{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
	Programme - 
{% endblock title %}

{% block content %}

<div class="hs__wrapper grille_wrapper">
	<ul id="js-daysFilter" class="days_list hs js-sticky">
		<li openTab(0, 'Lundi')>Lundi</li>
		<li openTab(0, 'Mardi')>Mardi</li>
		<li openTab(0, 'Mercredi')>Mercredi</li>
		<li openTab(0, 'Jeudi')>Jeudi</li>
		<li openTab(0, 'Vendredi')>Vendredi</li>
		<li openTab(0, 'Samedi')>Samedi</li>
		<li openTab(0, 'Dimanche')>Dimanche</li>
	</ul>
</div>
<div style="display: none;">
<nav id="prog">
{% for var in data.prog.patterns.0.vars %}
	{% if loop.last == false %}
		{% set index = loop.index0 %}
		<div class="hs__wrapper grille_wrapper">
			<ul id="js-daysFilter" class="days_list hs js-sticky">
			{% for value in data.prog.variables[var] %}
				<button class="tablink" id="link-{{index}}-{{value}}" onclick="openTab({{index}}, '{{value}}')">{{value}}</button>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endfor %}
</nav>

</div>


<div class="grid_container container">
	<div class="row">
	<div class="col-md-10 mx-auto">
		
			<div class="tabcontent tab-Mardi program-item">
				<div class="row align-items-center">
					<div class="col-lg-5 pad_mobile">
						<div class="infos_grille d-lg-none d-block">
							
				
						<p class="date"></p>
						</div>
						<div class="img_grille">
						<img src="" class="medium" alt="">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="infos_grille">
							
				
							<p class="date d-lg-block d-none"></p>

							<h2 class="t-header-listing"></h2>

							<div class="content">
							<!-- wp:paragraph -->
							<p></p>
							<!-- /wp:paragraph -->
							</div>

							<div class="presenter"><span></span>
							<p></p>
							</div>

							<a class="btn btn_white" href=""><span class="icon-Arrow"></span></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div style="display: none;">
	{% for pattern in data.prog.patterns %}
	{{ macros::resolve_pattern(pattern=pattern.pattern, title=pattern.title, vars=pattern.vars, variables=data.prog.variables, depth=0, replaced="", stackedReplaced="") }}
	{% endfor %}
</div>


<script>
	window.setTimeout(() => {
		openTab(0, null, true);
	}, 1000);
</script>



{% endblock content %}
