{% extends "base.html" %}
{% block content %}
	<header id="top">

		{% if data.config.Logo %}
		<div>
			<img class="logo" src="{{data.oma.args.soundbase_prefix}}/webpL/{{data.config.Logo}}.webpL" />
		</div>
		{% endif %}

		<div>
			<h2>Écouter</h2>
			<div class="tohide">
				<p>En direct</p>
				<audio controls="controls" preload="none" class="tohide" id="direct">
					<source src="/direct.ogg" />
				</audio>
			</div>
			<div class="toshow playbuttons">
				<p><button onclick="window.OMA_DATA.player.playDirect()">En direct</button></p>
				<p>
					Ou <button class="toshow" onclick="window.OMA_DATA.player.setDateHuman(
						document.getElementById('replaydate').value,
						document.getElementById('replaytime').value
					)">À une date passée</button> :
					<input type="date" name="replaydate" id="replaydate" />
					<input type="time" name="replaytime", id="replaytime" value="10:00" />
				</p>
			</div>
		</div>
	</header>
		<section>
			{% if 'TexteAccueil' in data.config %}
				{% set v = txt_content(name=data.config.TexteAccueil) %}
				{% if v %}
					{{ v | safe }}
				{% endif %}
			{% endif %}
		</section>
		{% set serie = data.series | get(key="_Selection-Manuelle", default="") %}
		{% if serie %}
			<section>
				<h2>{{ serie | get(key="Titre", default="Notre sélection") }}</h2>
				{% include "episodes_serie.html" %}
			</section>
		{% endif %}

		{% if data.episodes_by_date %}
			<section>
				<h2>Les derniers épisodes</h2>
				{#{% include "last_podcasts.html" %}#}
				<p><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/episode/">Voir tous les épisodes</a></p>
				{% include "last_episodes.html" %}
				<p><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/episode/">Voir tous les épisodes</a></p>
			</section>

			<section>
				<h2>Quelques émissions</h2>
				{% include "last_series.html" %}
			</section>
		{% endif %}

		<section id="qui" class="anchor">
			<h2>Qui sommes nous</h2>
			{% set v = '' %}
			{% if 'TextePresentation' in data.config %}
				{% set v = txt_content(name=data.config.TextePresentation) %}
			{% endif %}

			{% if v %}
				{{ v | safe }}
			{% else %}
				<p>Un super collectif évidement !</p>
			{% endif %}
		</section>
		<section id="contact" class="anchor">
			<h2>Nous contacter</h2>
			{% set v = '' %}
			{% if 'TexteContact' in data.config %}
				{% set v = txt_content(name=data.config.TexteContact) %}
			{% endif %}

			{% if v %}
				{{ v | safe }}
			{% else %}
				<p>Les informations de contact arrivent bientôt ;)</p>
			{% endif %}
		</section>
{% endblock content %}

