{#
	on garde une seule page pour afficher toutes les grilles afin que les futurs liens morts pointent toujours sur une page qui existe
#}

{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
	Programme - 
{% endblock title %}

{% block content %}
<nav id="prog">
{% for var in data.prog.patterns.0.vars %}
	{% if loop.last == false %}
		{% set index = loop.index0 %}
		<div>
			{% for value in data.prog.variables[var] %}
				<button class="tablink" id="link-{{index}}-{{value}}" onclick="openTab({{index}}, '{{value}}')">{{value}}</button>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}
</nav>

{% for pattern in data.prog.patterns %}
	{{ macros::resolve_pattern(pattern=pattern.pattern, title=pattern.title, vars=pattern.vars, variables=data.prog.variables, depth=0, replaced="", stackedReplaced="") }}
{% endfor %}

<script>
	window.setTimeout(() => {
		openTab(0, null, true);
	}, 1000);
</script>
{% endblock content %}
